       .body {
       	background-color: white;
       	font-family: "Times New Roman";
       }
       .h1 {
       	color: #003300;
       	font-size: 50px;
       }
       .h3 {
       	color: brown;
       	font-style: italic;
       	margin-bottom: 20px;
       }
       .quotebtn {
       	background-color: #003300;
       	/*#4CAF50;  Green */
       	border: none;
       	color: white;
       	margin-top: 50px;
       	padding: 15px 25px;
       	text-align: center;
       	text-decoration: none;
       	display: inline-block;
       	font-size: 18px;
       }
       .tweetbtn {
       	background-color: #003300;
       	border: none;
       	color: white;
       	margin-top: 50px;
       	padding: 15px 25px;
       	text-align: center;
       	display: inline-block;
       	font-size: 18px;
       }
       #quotes {
       	background-color: #ffcc00;
       	border-color: white;
       	border-radius: 8px;
       	border-style: solid;
       	font-size: 18px;
       	padding: 50px 50px 50px 50px;
       }